<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>
    <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- Header -->
    <header id="header">
        <nav style="display: flex; padding: 1em;">
            <div class="container">
                <div class="text-center">
                    <a href="/admindash" class="nav-brand text-dark">User Management System</a>
                </div>
            </div>
            <form action="/admindash" style="margin: 0;" method="post">
                <button class="btn-1" type="submit" >Logout   <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                
            </form>
        </nav>
    </header>
    <!-- /Header -->
